node_modules
pnpm-debug.log*

.turbo
.pnpm-store

dist
coverage
test-results
playwright-report
output/playwright
.playwright-*
/*.png
*.tsbuildinfo

storybook-static
.storybook-cache
vite.config.ts.timestamp-*

.DS_Store
