:root {
  --cool-netural-1: #f7f7f8;
  --cool-netural-5: #edeeef;
  --cool-netural-10: #dcdddf;
  --cool-netural-20: #babbc1;
  --cool-netural-30: #9798a1;
  --cool-netural-40: #777982;
  --cool-netural-50: #5b5c63;
  --cool-netural-60: #484950;
  --cool-netural-70: #35373b;
  --cool-netural-80: #27282b;
  --cool-netural-90: #17171a;
  --cool-netural-95: #0e0e10;
  --netural-5: #f1f1f1;
  --netural-10: #e5e5e5;
  --netural-20: #c9c9c9;
  --netural-30: #b0b0b0;
  --netural-40: #989898;
  --netural-50: #7f7f7f;
  --netural-60: #666666;
  --netural-70: #4b4b4b;
  --netural-80: #323232;
  --netural-90: #1d1d1d;
  --netural-95: #111111;
  --blue-5: #eff4ff;
  --blue-10: #dce5fe;
  --blue-20: #baccfe;
  --blue-30: #98b1fe;
  --blue-40: #7c99fd;
  --blue-50: #5c7dfb;
  --blue-60: #3e5efa;
  --blue-70: #223dc9;
  --blue-80: #051c94;
  --blue-90: #0b1a65;
  --blue-95: #0a154d;
  --orange-5: #fffcf7;
  --orange-10: #fef4e6;
  --orange-20: #fee6c6;
  --orange-30: #ffd49c;
  --orange-40: #ffc06e;
  --orange-50: #ffa938;
  --orange-60: #ff9200;
  --orange-70: #d47800;
  --orange-80: #9c5800;
  --orange-90: #663a00;
  --orange-95: #361e00;
  --green-5: #f2fff6;
  --green-10: #d9ffe6;
  --green-20: #acfcc7;
  --green-30: #7df5a5;
  --green-40: #49e57d;
  --green-50: #1ed45a;
  --green-60: #00bf40;
  --green-70: #009632;
  --green-80: #006e25;
  --green-90: #004517;
  --green-95: #00240c;
  --red-5: #fffafa;
  --red-10: #feecec;
  --red-20: #fed5d5;
  --red-30: #ffb5b5;
  --red-40: #ff8c8c;
  --red-50: #ff6363;
  --red-60: #ff4242;
  --red-70: #e52222;
  --red-80: #b00c0c;
  --red-90: #730303;
  --red-95: #3b0101;
  --sky-blue-5: #f0faff;
  --sky-blue-10: #e0f5ff;
  --sky-blue-20: #c2ebff;
  --sky-blue-30: #a3e2ff;
  --sky-blue-40: #79d4ff;
  --sky-blue-50: #3dc1ff;
  --sky-blue-60: #00a6f5;
  --sky-blue-70: #006899;
  --sky-blue-80: #004566;
  --sky-blue-90: #002333;
  --sky-blue-95: #021a25;
  --indigo-5: #f3f2ff;
  --indigo-10: #e3e2fe;
  --indigo-20: #cac6fe;
  --indigo-30: #afaafd;
  --indigo-40: #948bfc;
  --indigo-50: #7366fc;
  --indigo-60: #5640f9;
  --indigo-70: #3d18d8;
  --indigo-80: #24079d;
  --indigo-90: #140364;
  --indigo-95: #0b0147;
  --common-0: #ffffff;
  --common-100: #000000;
  --brand-logo: #18181b;
  --status-positive: #00bf40;
  --status-negative: #ff4242;
  --status-cautionary: #ff9200;
  --brand-primary: #3e5efa;
  --brand-secondary: #7c99fd;
  --brand-assisitve: #e3e2fe;
  --brand-tertiary: #baccfe;
  --brand-strong: #223dc9;
  --label-normal: #17171a;
  --label-strong: #000000;
  --label-light: #5b5c63;
  --label-alternative: #777982;
  --label-disable: #babbc1;
  --label-assitive: #9798a1;
  --label-contrast: #ffffff;
  --label-netural: #484950;
  --line-normal: #70737c38;
  --line-neutral: #70737c29;
  --line-alternative: #70737c14;
  --line-strong: #babbc1;
  --fill-normal: #ffffff;
  --fill-strong: #dcdddf;
  --fill-alternative: #edeeef;
  --fill-primary: #eff4ff;
  --fill-secondary: #f3f2ff;
  --fill-positive: #f2fff6;
  --fill-cautionary: #fffcf7;
  --fill-destructive: #fffafa;
  --fill-netural: #f7f7f8;
  --fill-transparent-white: #ffffff4d;
  --fill-transparent-black: #00000026;
  --effect-dimmer: #17171985;
  --static-white: #ffffff;
  --static-black: #000000;
  --interaction-hover: #ffffff40;
  --interaction-pressed: #00000014;
  --interaction-hover-inverse: #0000000f;
  --interaction-dim: #17171abf;
}
