@import "tailwindcss";
@import "@kusitms.com/tokens/index.css";
@import "@kusitms.com/tokens/themes.css";

@source "../../../packages/ui/src";
@source "../../../packages/icons/src";

body {
  font-family: var(--font-sans);
  background: var(--fill-normal);
  color: var(--label-normal);
}
